<script>
  const formDelete = document.querySelector("#delete-button")
  formDelete.addEventListener("submit", function (event) {
    const confirmation = confirm("Tem certeza que deseja DELETAR este perfil?")
    if (!confirmation) {
      event.preventDefault()
    }
  })
</script>