<!DOCTYPE html>
<html>

<head>

  {% block head %}
    <title>University Catalog</title>

  {% endblock %}

  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <header>
    <div class="links">
      <a href="/teachers">Professores</a>
      <a href="/students">Alunos</a>
    </div>

  </header>

  {% block content %}{% endblock %}

  <script src="/scripts.js"></script>
</body>

</html>