{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">

    <table width="100%">

      <thead>
        <tr>
          <th>Professor</th>
          <th>Aulas Ministradas</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for teacher in teachers%}
          <input type="hidden" name="id" value="{{teacher.id}}">
          <tr>
            <td>
              <span style="background-image: url({{teacher.avatar_url}})"></span>
              {{teacher.name}}</td>
            <td>
              {% for area in teacher.areas %}
                <span>{{area}}</span>
              {% endfor %}
            </td>
            <td>
              <a href="/teachers/{{teacher.id}}">Ver</a>
            </td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>

  {% endblock content %}