{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">

    <table width="100%">
      <a href="/teachers/create">Novo</a>

      <thead>
        <tr>
          <th>Aluno</th>
          <th>Email</th>
          <th>Ano Escolar</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for student in students%}
          <input type="hidden" name="id" value="{{student.id}}">
          <tr>
            <td>
              <span style="background-image: url({{student.avatar_url}})"></span>
              {{student.name}}</td>
            <td>
              {{student.email}}
            </td>
            <td>
              {{student.year}}
            </td>
            <td>
              <a href="/students/{{student.id}}">Ver</a>
            </td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>

  {% endblock content %}