<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Nome</div>
  <div>
    <input type="text" name="name" placeholder="Insira seu nome completo" value="{{teacher.name}}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth" value="{{teacher.name}}">
  </div>
</div>

<div class="item">
  <div>Grau de escolaridade</div>
  <div>

    <select name="formation">

      <option value="high-school" {% if teacher.formation == "high-school" %} selected="selected" {% endif %}>Ensino Médio Completo</option>
      <option value="college" {% if teacher.formation == "college" %} selected="selected" {% endif %}>Ensino Superior Completo</option>
      <option value="master" {% if teacher.formation == "master" %} selected="selected" {% endif %}>Mestrado Completo</option>
      <option value="doctor" {% if teacher.formation == "doctor" %} selected="selected" {% endif %}>Doutorado Completo</option>

    </select>
  </div>
</div>

<div class="item">
  <div>Tipo de aula</div>
  <div>
    <span><input type="radio" name="lecture" value="presential" {% if teacher.lecture == "presential" %} checked="checked" {% endif %}>Presencial</span>
    <span><input type="radio" name="lecture" value="remote" {% if teacher.lecture == "remote" %} checked="checked" {% endif %}>À Distância</span>
  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
    <input type="text" name="area" placeholder="Insira suas áreas de atuação separando-as com vírgula" value="{{teacher.area}}">
  </div>

</div>

<button type="submit">Salvar</button>