{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar"></section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Professor</div>
        <div>Isaac Newton</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>40</div>
      </div>

      <div class="item">
        <div>Formação Acadêmica</div>
        <div>Trinity College</div>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>Presencial</div>
      </div>

      <div class="item">
        <div>
          Acompanhamento
          <div>
            <span>Física</span>
            <span>Matemática</span>
          </div>
        </div>

      </div>

      <div class="item">
        <div>Desde</div>
        <div>01/01/1668</div>
      </div>

    </div>
  </section>
</div>

{% endblock content %}